{% extends 'layout.html' %}

{% block title %}
    Posts
{% endblock %}

{% block content %}
    <section>
        <h1>MATERIAŁY</h1>
        {% for material in materials %}
            <article class="post">
                <h2>
                    <a href="{% url 'materials:page' slug=material.slug %}">
                        {{ material.title }}
                    </a>
                </h2>
                <p>{{ material.date }}</p>
            </article>
        {% endfor %}
    </section>
{% endblock %}

